<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>

    <style>
        body {
            font-family: Arial, sans-serif;
            background: linear-gradient(120deg, #ff9a9e, #fad0c4, #fad0c4);
            background-size: 200% 200%;
            animation: gradientAnimation 5s ease infinite;
        }

        @keyframes gradientAnimation {
            0% {
                background-position: 0 50%;
            }
            50% {
                background-position: 100% 50%;
            }
            100% {
                background-position: 0 50%;
            }
        }

        h1
        {
            text-align: center;
            position: relative;
            top:50px;
        }

    </style>

    <title>Reset Password</title>
</head>
<h1>Zmień hasło</h1>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4" style="margin-top: 100px;">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="text-center">
                        <h3><i class="glyphicon glyphicon-lock" style="font-size:2em;"></i></h3>
                        <h2 class="text-center">Zresetuj hasło</h2>
                        <div class="panel-body">

                            <div th:if="${error}">
                                <div class="alert alert-danger">
                                    <span th:text="${error}"></span>
                                </div>
                            </div>

                            <form th:action="@{/reset-password}" th:object="${resetPasswordForm}" id="form" method="post">

                                <p class="error-message"
                                   th:if="${#fields.hasGlobalErrors()}"
                                   th:each="error : ${#fields.errors('global')}"
                                   th:text="${error}">Błąd walidacji</p>

                                <input type="hidden" name="token" id="token" th:value="${token}" onsubmit=""/>

                                <div class="form-group"
                                     th:classappend="${#fields.hasErrors('password')}? 'ma błąd':''">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="glyphicon glyphicon-lock"></i>
                                        </span>
                                        <label for="password"></label><input id="password"
                                                                             class="form-control"
                                                                             placeholder="Wprowadź nowe hasło"
                                                                             type="password"
                                                                             th:field="*{password}" required/>
                                    </div>
                                    <p class="error-message"
                                       th:each="error: ${#fields.errors('password')}"
                                       th:text="${error}">Błąd walidacji</p>
                                </div>
                                <div class="form-group"
                                     th:classappend="${#fields.hasErrors('confirmPassword')}? 'has-error':''">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="glyphicon glyphicon-lock"></i>
                                        </span>
                                        <label for="confirmPassword"></label><input id="confirmPassword"
                                                                                    class="form-control"
                                                                                    placeholder="Potwierdź nowe hasło"
                                                                                    type="password"
                                                                                    th:field="*{confirmPassword}" required/>
                                    </div>
                                    <p class="error-message"
                                       th:each="error: ${#fields.errors('confirmPassword')}"
                                       th:text="${error}">Błąd walidacji</p>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-block btn-success">Zmień hasło</button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    Jesteś nowym użytkownikiem? <a href="/" th:href="@{/register}">Zarejestruj się</a>
                </div>
                <div class="col-md-12">
                    Masz już konto? <a href="/" th:href="@{/login}">Zaloguj się</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"></script>
</body>
<script>
    document.addEventListener("DOMContentLoaded", function()
    {
        let passwordInput = document.getElementById("password");
        let confirmPasswordInput = document.getElementById('confirmPassword');
        let form = document.getElementById('form');

        let passwordPattern = /^[A-Za-z].{7,}$/; // Zaczyna się od litery, co najmniej 8 znaków

        passwordInput.addEventListener("input", function () {
            let passwordValue = passwordInput.value;
            if (passwordPattern.test(passwordValue)) {
                passwordInput.setCustomValidity("");
            } else {
                passwordInput.setCustomValidity("Hasło musi zaczynać się od litery i mieć co najmniej 8 znaków.");
            }
        });

        confirmPasswordInput.addEventListener("input", function () {
            {
                let confirmPasswordValue = confirmPasswordInput.value;
                if (confirmPasswordValue.test(confirmPasswordValue)) {
                    confirmPasswordInput.setCustomValidity("");
                } else {
                    confirmPasswordInput.setCustomValidity("Hasło musi zaczynać się od litery i mieć co najmniej 8 znaków.");
                }
            }
        });

        confirmPasswordInput.addEventListener("input", function () {
            {
                let confirmPasswordValue = confirmPasswordInput.value;
                if (confirmPasswordValue === passwordInput.value) {
                    confirmPasswordInput.setCustomValidity("");
                } else {
                    confirmPasswordInput.setCustomValidity("Hasła muszą być takie same.");
                }
            }
        });

        form.addEventListener("submit", function (event) {
            let token = document.getElementById('token');

            if (!token || !token.value.trim()) {
                event.preventDefault();
                alert('Brak tokenu!');
            } else {
                alert('Zmieniono hasło do konta na nowe!');
            }
        });

    });
</script>
</html>